body {
    font-family: Poppins, sans-serif;
    color: #22343d;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
    font-family: inherit;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* common */

.container {
    margin: 0 auto;
    padding: 0 27px;
    width: 100%;
    max-width: 1150px;
}

@media screen and (min-width: 768px) {
    .container {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 1150px;
    }
}

/* header */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
}


.header-nav {
    margin-left: auto;
}

.header-nav-list {
    display: flex;
    gap: 30px;
}


.header-nav-link {
    padding: 26px 0;
    display: block;
    line-height: 175%;
    color: #22343d;
}

.current {
    font-weight: 600;
}

.header-btn-list {
    display: flex;
    gap: 21px;
}

.header-btn {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    min-width: 105px;
    height: 42px;
    background-color: transparent;
    font-weight: 600;
    text-align: center;
    color: #173a56;
}

.header-btn:hover,
.header-btn:focus {
    color: #fff;
    border: none;
    background-color: #02897a;
}

.burger-btn {
    background-color: transparent;
    border: none;
}

.header-nav,
.header-btn-list {
    display: none;
}

@media screen and (min-width:768px) {
    .header-nav,
    .header-btn-list {
        display: flex;
    }

    .burger-btn {
        display: none;
    }

    .header-nav {
        margin-right: auto;
    }

    .header-nav-list {
        display: flex;
        gap: 30px;
    }


    .header-nav-link {
        padding: 26px 0;
        display: block;
        line-height: 175%;
        color: #22343d;
    }
}

/* hero */

.hero {
    padding-top: 29.32px;
    padding-bottom: 100px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.hero-img {
    order: -1;
}

.hero-btn-list {
    display: flex;
    gap: 30px;
    margin-top: 45px;
    align-items: center;
}

.hero-text {
    max-width: 465px;
    font-size: 18px;
    line-height: 156%;
    font-weight: 400;
    margin-top: 18px;
    text-align: center;
}

.hero-title {
    max-width: 369px;
    max-height: 120px;
    font-weight: 700;
    font-size: 36px;
    line-height: 167%;
    color: #22343d;
    text-align: center;
}

.get-started {
    border: none;
    background-color: #02897a;
    font-weight: 700;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    width: 142px;
    height: 53px;
}

.video-btn {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    border: none;
    padding-left: 32px;
    min-width: 20px;
    min-height: 20px;
    position: relative;
}

.video-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url("../image/play.svg");
    background-size: contain;
    background-repeat: no-repeat
}

@media screen and (min-width:768px) {
    .hero-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .hero-img {
        width: 610px;
        height: 555px;
    }

    .get-started {
        width: 178px;
        height: 53px;
    }

    .hero-text {
        text-align: justify;
    }

    .hero-title {
        text-align: left;
    }
}

/* Product */

.product-item-title::before {
    content: "";
    display: block;
    border-radius: 19px;
    width: 50px;
    height: 50px;
    background-color: #4d8dff;
    margin: 0 auto;
    margin-bottom: 26px;
}

.product-item:nth-child(1) .product-item-title::before {
    background-color: #02897a;
    background-image: url(../image/cursor.svg);
    background-repeat: no-repeat;
    background-position: center;

}

.product-item:nth-child(2) .product-item-title::before {
    background-color: #4d8dff;
    background-image: url(../image/wave.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.product-item:nth-child(3) .product-item-title::before {
    background-color: #740a76;
    background-image: url(../image/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.product-item:nth-child(4) .product-item-title::before {
    background-color: #f03e3d;
    background-image: url(../image/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.product-box {
    border-radius: 19px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.prosuct-icon {
    fill: #fff;
}

.product {
    padding-bottom: 50px;
}

.product-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    padding-bottom: 50px;
    max-width: 361px;
    margin: 0 auto;
}

.product-list {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;
}

.product-item-title {
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #22343d;
}

.product-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    text-align: center;
    color: #22343d;
}

.product-item-img {
    margin-bottom: 26px;
}

.product-item {
}

.product-btn {
    border: none;
    border-radius: 4px;
    min-width: 175px;
    min-height: 53px;
    background-color: #02897a;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width:768px) {
    .product-list {
        flex-direction: row;
    }

    .product-item-title::before {
        margin-left: 0;
    }

    .product-item-text {
        text-align: left;
    }

    .product-item-title {
        text-align: left;
    }

    .product-item {
        flex-direction: column;
        width: calc((100% - 90px) / 4);
    }

    .product-title {
        max-width: 530px;
    }
}

/* Services */

.services-list {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.second-item {
    flex-direction: row-reverse;
}

.services-item {
    display: flex;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 84px;

}

.item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* max-width: 334px; */
}

.services-item-title {
    font-weight: 700;
    font-size: 32px;
    margin-top: 8px;
    margin-bottom: 25px;
}

.services-item-text {
    line-height: 163%;
    margin-bottom: 30px;
}

.management-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.management-item-title {
    font-weight: 600;
    line-height: 163%;
}

.management-item-text {
    line-height: 163%;
}

.support-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.support-item {
    display: flex;
    gap: 30px;
}

.support-item-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.support-item-text::before {
    content: "";
    display: block;
    border: 2.92px solid #fff;
    border-radius: 14px;
    min-width: 35px;
    min-height: 35px;
    background-color: #f03e3d;
    margin-right: 30px;
}

.support-item:nth-child(1) .support-item-text::before {
    background-image: url(../image/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f90;
}

.support-item:nth-child(2) .support-item-text::before {
    background-image: url(../image/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f03e3d;
}

.support-item:nth-child(3) .support-item-text::before {
    background-image: url(../image/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #4d8dff;
}

.collaborative-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.collaborative-item-title {
    margin-bottom: 12px;
}

.services-item-subtitle {
    font-weight: 600;
}
